:root{
    --hover-color:#F0A500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: grey;
}

.container__navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background: black;
    padding: 1rem 4rem;
    width: 100%;
}

.navigation__logo{
    
    color:var(--hover-color);
    font-size:1.5rem;   
}
.navigation__item{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: none;
}
.navigation__item li{
    list-style: none;  
}

.navigation__item a{
    border-bottom:2px solid transparent ;
    transition: border-bottom 0.3s linear;
}

.navigation__item a:hover{
    color: var(--hover-color);
    border-bottom: 2px solid var(--hover-color);
}
.navigation__item a,
.navigation__item-login a{
    text-decoration:none;
    color:#ffffff;
    margin-left:2rem;
    font-size:1.3rem;
}
.navigation__item-login a:hover{
    color:var(--hover-color);
}

.navigation__item-login{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.navigation__item-login div{
    position: absolute;
    left:6.9rem ;
    width: 0.3rem;
    background: var(--hover-color);
    height:2rem;
}